<!DOCTYPE html>
<html>
<head>
    <title>Simple Leaflet Map</title>
    <meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
	<!-- <input type="text" list="nameDataList" id="nameInput", title="Choose a Feature" /> -->
	
	<!-- <input type="text" list="nameDD_Filter" id="nameInput", title="Choose a Filter level" /> -->

	<!-- <datalist id="nameDataList"></datalist> -->
	<!-- <datalist id="nameDD_Filter"></datalist> -->
</head>
<body>
    <p><b>View Results and Download Current Vehicle Platforms</b></p>
	<label>Choose a Feature:<br />
	<!-- <input list="browsers" name="myBrowser" /> -->
	<input type="text" list="nameDataList" id="nameInput"/></label><br />	

	<datalist id="nameDataList"></datalist>
	<datalist id="secDatalist"></datalist><br />
 
    <div id="map" style="width: 700px; height: 500px"></div><br />
	<!-- <div class="btn-group", style="margin-top: 10px"> -->
	<div class="dropdown" id="dropdown"></div>
	<button id="action1", onclick="expjson()", style="padding: 10px">Export Geojson</button><br />
	<br>
	<label>Choose a Security Level: <br />
	<input type="text" list="secDatalist" id="secInput" onchange="changeResult()"/></label><br />
	<br> 	
	<button id="action2", onclick="expcsv()", style="padding: 10px">Download Vehicles DB</button>
	<!-- <button id="action">Download csv</button> , margin-top: 10px-->
	<!-- </div> -->

    <script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>
	<!-- <script src="script.js"></script> -->
	<!-- <script type="module" src="./node-mongoDB/node_modules"></script> -->
	<!-- // C:\Users\jvonholle\node-mongoDB\node_modules\mongodb\lib -->
	<!-- <script type="module" src="./node-mongoDB/node_modules/mongodb/lib/mongo_client.js"></script> -->

    <script>  // <script type=text/javascript>
		var today = new Date();
		var date = today.getFullYear()+'_'+(today.getMonth()+1)+'_'+today.getDate();
		
		const geoj = {{ feats|tojson }};
		console.log(geoj);
		<!-- console.log('view point: ' +  geoj[0]['geometry']['coordinates'][0][0]) -->
		// setview pointer
		var setview_pnt = (geoj[0]['geometry']['coordinates'][0]); //2 brackets for polys; 1 for linestring.
		console.log(setview_pnt[1], setview_pnt[0]);
		
        var map = L.map('map', {    
			layers: [
				L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
					'attribution': 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
				})
			]}).setView([setview_pnt[1], setview_pnt[0]], 10);  // [46.4825, 30.7233]  Cayman: 19.29956683, -81.35812103
		
		var myStyle = {
    		"color": "Blue", // "#ff7800",
    		"weight": 2 //"opacity": 0.25
		};
		
		//const setBg = () => {
		//  const randomColor = Math.floor(Math.random()*16777215).toString(16);
		//  document.body.style.backgroundColor = "#" + randomColor;
		//  color.innerHTML = "#" + randomColor;
		//}
		function randoCol() {
			return "#" + Math.floor(Math.random()*16777215).toString(16);
		}
		
		function style(feature) {
			const randomColor = Math.floor(Math.random()*16777215).toString(16);
			//console.log({color: randomColor});
			return {
				//fillColor: getRandomColor(),
				radius: 3,
				weight: 2,
				opacity: 1,
				color: "#" + randomColor
			};
		}
		
		map.createPane('labels');
		map.getPane('labels').style.zIndex = 650;
		map.getPane('labels').style.pointerEvents = 'none';
		var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
				attribution: '©OpenStreetMap, ©CartoDB'
			}).addTo(map);

		var positronLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
				attribution: '©OpenStreetMap, ©CartoDB',
				pane: 'labels', 
				<!-- offset: (40, 0) -->
			}).addTo(map);
			
		var geojson = L.geoJson(geoj, {style: style}).addTo(map);
		
		geojson.eachLayer(function (layer) {
			layer.bindPopup(layer.feature.properties.name, {permanent: true}).openPopup();  // offset; add where?
		});

		map.fitBounds(geojson.getBounds()); 
		
		<!-- L.geoJson(geoj,  -->
				<!-- {style: style, -->
				<!-- label: geoj.features.properties.name, -->
				<!-- onEachFeature: function (feature, layer) { -->
						<!-- layer.bindLabel(feature.properties["name"], {className: 'map-label', pane: 'popupPane'}).openTooltip(); -->
						<!-- layer.bindPopup(feature.properties.name, {permanent: true});  //.openPopup(); -->
						<!-- layer.openPopup(); -->
					<!-- } -->
				<!-- }).addTo(map);  -->
				
		// dropdown and zoom to feature
		const flist = [];
		<!-- for (feat in geoj.features){flist.push(feat.properties.name)}; -->
		const feats = geoj.properties;
		for (let i = 0; i < geoj.length; i++){
			flist.push(geoj[i]['properties']['name'])}  // Pop list of names for dd; may change... transport | name
		<!-- console.log(flist); -->

		// This is input field
		const nameInput = document.getElementById('nameInput');
		// Input for Security level filter dd
		<!-- const secInput = document.getElementById('secInput').onchange; -->
		var secInput = "None"; 
		function changeResult(){
			secInput=document.getElementById('secInput').value;
		}
		// This is the datalist
		const datalist = document.getElementById('nameDataList');
		// dd for filter by security level datalist
		const secDatalist = document.getElementById('secDatalist');
		<!-- datalt_sec.name = "Choose a Security Level"; -->

		function populateList(arr) {  // arr = flist!
		  arr.forEach(name => {
			var option = document.createElement("option");
			option.innerHTML = name;
			<!-- option.value = flist[i].value; \ option.text = flist[i].text; -->
			datalist.appendChild(option);
		  });
		}
			
		function popList_Sec(arr) {
		  <!-- var selected = document.createElement("selected"); -->
		  <!-- selected.innerHTML = "None"; -->
		  <!-- datalt_sec.appendChild(selected); -->
		  arr.forEach(name => {
			var option = document.createElement("option");
			option.innerHTML = name;
			<!-- option.value = flist[i].value; \ option.text = flist[i].text; -->
			secDatalist.appendChild(option);
		  });
		}

		populateList(flist);
		popList_Sec(['DOD', 'Mitre', 'Limited']);
		const outfeat = [];

		document.getElementById('nameInput').onchange = function() {
		  console.log('You selected: ', this.value);
		    // Get name param and flyto if name matches existing geojson object 
		  <!-- const name = location.search.split('name=')[1]  // returns the uri qry parameters > name=0003.tif -->
		  if (this.value) {
			for (feature of geoj) { // Auto detect lines or polys
			  if (feature.properties.name === this.value && feature.geometry.type == 'LineString') {  // props change; 2 brackets w/zero for polys, 1 bracket for lines.
				map.panTo([feature.geometry.coordinates[0][1], feature.geometry.coordinates[0][0]], 16);}
			  else if (feature.properties.name === this.value && feature.geometry.type == 'Polygon') { // assume it's a polygon | else if (condition) {}
			    map.panTo([feature.geometry.coordinates[0][0][1], feature.geometry.coordinates[0][0][0]], 16);}
				<!-- console.log('export json: ' + JSON.stringify(feature));  // -->
				// write geojson to file 
				outfeat.push(JSON.stringify(feature));  <!-- wrjson(JSON.stringify(feature)); -->
				
				break; // flyTo > does not appear to func.
			  }
			}
		  }
			
		console.log('out: ', outfeat); 
		
		// function to insert geometry into mongoDB upon button click 	
		const expjson = function() {
			fetch('/process-data', { 
			  method: 'POST',
			  headers: {
				'Content-Type': 'application/json'
			  },
			  body: JSON.stringify({data: outfeat[0]})  
			})
			.then(response => response.text())
			.then(result => {  // Result is data pulled from python script. 
			  console.log(result);
			})
			.catch(error => {
			  console.error('Error:', error);
			});
		} 
		
		// Download csv from Flask as bytes.io object; ref, just dl func: https://www.geeksforgeeks.org/how-to-create-and-download-csv-file-in-javascript/
		const download = function (data) {		  
			// Creating a Blob for having a csv file format and passing the data with type
			const blob = new Blob([data], { type: 'text/csv' });
		  
			// Creating an object for downloading url
			const url = window.URL.createObjectURL(blob)
		  
			// Creating an anchor(a) tag of HTML
			const a = document.createElement('a')
		  
			// Passing the blob downloading url 
			a.setAttribute('href', url)

			// Setting the anchor tag attribute for downloading and passing the download file name
			a.setAttribute('download', 'vehicles_' + date.toString() + '.csv');
		  
			// Performing a download with click
			a.click()
		}
		  
		// function to Download csv of vehicles/platforms upon button click 	
		const expcsv = function() {
			fetch('/veh-tocsv', { 
			  method: 'POST',
			  headers: {
				'Content-Type': 'application/json'
			  },
			  body: JSON.stringify({data: secInput})  // 'selected_item'
			})
			.then(response => response.text())
			.then(result => {
			  console.log(secInput);  //(result);
			  <!-- pass csv content to download function -->
			  download(result);
			})
			.catch(error => {
			  console.error('Error:', error);
			});
		}

    </script>
</body>
</html>